.boxmodel{
    border : 2px solid lightgray;
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:600px;
    margin: 0px auto;
}
.box{
    padding : 40px;
}
img{
    width:100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.material-symbols-outlined{
    color:grey;
    display:inline;
}
.text{
    color:grey; 
    font-size: 26px;
}
.heading1{
    font-size: 20px;
    margin : 0px;
    color:grey; 
    display: inline;
}
.heading2{
    font-size:36px;
}
.btn{
    background-color: white;
    font-size: 20px;
    padding:10px 30px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#1e74e8;
    border: 2px solid lightgray;
    border-radius: 5px;
}